/* ========================================================
 common parts styles
======================================================== */

.btn-blk {
  @include mq(sp) {
    padding-top: 3.2rem;
  }

  @include mq {
    display: flex;
    justify-content: flex-end;
  }
}

.recruit-btn {
  background: linear-gradient(93.02deg, $color09 3.86%, $color02 75.11%);
}

.inquiries-btn {
  background: linear-gradient(94.34deg, $color08 6.55%, $color01 72.43%);
}

//common hover line
.btn-line {
  position: relative;

  @include mq {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      border-radius: 5px;
      height: 2px;
      bottom: -1rem;
      left: 0;
      background: $white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }
}

.btn-antimate {
  &:hover {
    .btn-line {
      &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .btn-arrow,
    .footer-arrow {
      @include mq(sp) {
        &::before {
          left: 60%;
        }
      }

      @include mq {
        &::before {
          left: 70%;
        }
      }
    }
  }
}

//common section title
.sec-ttl {
  @include m-font-Notocjkjp;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(92.15deg, #496cf6 1.34%, $color02 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include mq(sp) {
    font-size: 2.8rem;
  }

  @include mq {
    font-size: 3.5rem;
  }

  span {
    @include m-font-Redhatdisplay;
    display: block;

    @include mq(sp) {
      font-size: 1.4rem;
    }

    @include mq {
      font-size: 2rem;
    }
  }
}

//common button
.btn01 {
  font-weight: 700;
  position: relative;
  @include m-font-Notocjkjp;
  color: $color03;
  display: inline-block;

  &:hover {
    .about-arrow {
      &::before {
        left: 60%;
      }
    }
  }

  @include mq(sp) {
    font-size: 1.3rem;
  }

  @include mq {
    font-size: 1.5rem;
  }
}

.about-arrow {
  background: linear-gradient(19.32deg, #496cf6 7.4%, $color02 88.15%);
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;

  @include mq(sp) {
    width: 2.3rem;
    height: 2.3rem;
  }

  @include mq {
    width: 2.8rem;
    height: 2.8rem;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3rem;
    height: 0.3rem;
    content: '';
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.1s ease-in;
    border: solid $white;
    border-width: 0px 1px 1px 0;
  }
}

body [data-aos-delay='5000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='5000'].aos-animate {
  transition-delay: 5s;
}

body [data-aos-delay='7500'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='7500'].aos-animate {
  transition-delay: 7.5s;
}

.single-page {
  .new-list {
    max-width: 100rem;
    margin: 5rem auto;

    p {
      line-height: 1.5;
      padding-top: 2rem;
      font-size: 1.4rem;
    }
  }
}
