/* ========================================================
header
======================================================== */

.header {
  position: fixed;
  top: 0;
  z-index: 89;
  width: 100%;
  box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
  background-color: #fff;

  .header-content {
    @include mq(sp) {
      display: block;
    }

    @include mq {
      display: flex;
      justify-content: space-between;
      min-width: 120rem;
    }
  }

  .logo {
    @include mq(sp) {
      margin: 1.5rem 2rem;
      max-width: 161px;
    }

    @include mq {
      padding: 3.3rem 3rem;
    }
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 1.2rem;
    right: 2.1rem;
    z-index: 3;
    width: 3.8rem;
    height: 3.8rem;
    background: linear-gradient(92.15deg, $color01 1.34%, $color02 99.99%);
    text-align: center;
    cursor: pointer;
    border-radius: 50%;

    span {
      display: block;
      position: absolute;
      left: 50%;
      width: 1.8rem;
      height: 2px;
      background: $white;
      transform: translateX(-50%);
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:nth-child(1) {
        top: 1.2rem;
      }

      &:nth-child(2) {
        top: 1.7rem;
      }

      &:nth-child(3) {
        top: 2.3rem;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
          left: 9px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }


    }
  }

  .right-blk {

    @include mq(sp) {
      position: fixed;
      top: 5.7rem;
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      z-index: 2;
      width: 100%;
      padding: 3.3rem 2.5rem;
      background: #fff;
      color: #000;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
    }

    @include mq {
      flex-direction: column-reverse;
      display: flex;
      justify-content: flex-end;
    }

    &.active {
      transform: translateX(0%);
    }

    .btn-blk {
      @include mq(sp) {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
      }

      @include mq {
        display: flex;
        justify-content: flex-end;
      }
    }

    .top-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-weight: 700;
      @include m-font-Notocjkjp;

      @include mq(sp) {
        margin-bottom: 1.5rem;
        padding: 1.7rem 2rem;
        font-size: 1.6rem;
        border-radius: 6px;
      }

      @include mq {
        padding: 1.9rem 2.8rem;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        column-gap: 0.5rem;
      }
    }

    .recruit-btn {

      @include mq {
        width: 27.1rem;
        border-radius: 0px 0px 0px 10px;
      }
    }

    .inquiries-btn {
      background: linear-gradient(94.34deg, #6483FF 6.55%, $color01 72.43%);

      @include mq {
        width: 22.7rem;

        .btn-arrow {
          &:before {
            border: solid $color01;
            border-width: 0px 1px 1px 0;
          }
        }
      }

    }

    .btn-arrow {
      position: relative;
      border: 1px solid $white;
      border-radius: 50%;

      @include mq(sp) {
        width: 2.8rem;
        height: 2.8rem;

        &:before {
          border: solid $white;
        }
      }

      @include mq {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $white;

        &:before {
          border: solid $color02;
        }
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 45%;
        width: 0.3rem;
        height: 0.3rem;
        content: "";
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: 0.3s ease-in;
        border-width: 0px 1px 1px 0;
      }
    }


    .nav-list {
      @include mq {
        display: flex;
        justify-content: space-between;
        padding-top: 2.7rem;
        padding-right: 5rem;
        word-break: keep-all;
      }

      li {
        text-align: center;

        @include mq(sp) {
          padding: 2.1rem 0px;
        }

        @include mq {
          margin-right: 3.8rem;

          &:last-child {
            margin-right: 0;
          }

        }
      }

      a {
        position: relative;
        text-decoration: none;
        letter-spacing: 0.2px;
        cursor: pointer;
        @include m-font-Notocjkjp;

        @include mq(sp) {
          font-size: 1.6rem;
          font-weight: 700;
        }

        @include mq {
          font-size: 1.4rem;
          font-weight: 500;

          &::after {
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(92.15deg, $color01 1.34%, $color02 99.99%);
            content: '';
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            border-radius: 5px;
          }

          &:hover {
            background: linear-gradient(92.15deg, $color01 1.34%, $color02 99.99%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
          }

          &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }

}